.presentation__title {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  font-size: 90px;
  line-height: 1.2;
  margin-bottom: 8px;
}

@media (max-width: 1000px) {
  .presentation__title {
    font-size: 70px;
  }
}

@media (max-width: 850px) {
  .presentation__title {
    font-size: 60px;
  }
}

@media (max-width: 650px) {
  .presentation__title {
    font-size: 50px;
    margin-bottom: 6px;
  }
}

@media (max-width: 480px) {
  .presentation__title {
    font-size: 40px;
  }
}