html {
  position: relative;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.page {
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  background-color: #000;
  color: #fff;
  background-image: linear-gradient(181.78deg, rgba(0, 0, 0, 0) 49.38%, rgba(0, 0, 0, 0.42) 98.49%),
  url('../../images/background.jpg');
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p, figure {
  margin: 0;
}

iframe {
  border: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header__logo {
  width: 93px;
  height: 85px;
}

.header__announcement {
  justify-self: center;
}

.header__navigation {
  justify-self: end;
}

.navigation__list {
  display: flex;
  gap: 25px;
}

.navigation__link {
  background-color: rgba(255, 255, 255, 0.7);
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  outline: 0;
}

.navigation__link:hover, .navigation__link:active {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}

.navigation__link:focus {
  border-color: #5b5b5b;
}

.navigation__link_type_netflix {
  background-image: url(../../images/netflix.svg);
}

.navigation__link_type_okko {
  background-image: url(../../images/okko.svg);
}

.navigation__link_type_kinopoisk {
  background-image: url(../../images/kinopoisk.svg);
}

.presentation {
  padding-top: 27px;
}

.presentation__title {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  font-size: 90px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.presentation__tagline {
  line-height: 1.3;
  margin-bottom: 54px;
}

.presentation__button {
  display: block;
  width: 285px;
  height: 68px;
  background-image: url(../../images/button.png);
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51));
}

.tabs__control {
  display: flex;
  max-width: 285px;
  margin-left: auto;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 13px 22px;
  margin-bottom: 12px;
}

.presentation__geralt {
  margin-bottom: 30px;
}

.tabs__button {
  background-color: transparent;
  border: 0;
  color: inherit;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.tabs__button_active {
  border-color: #fff;
}

.tabs__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card_video {
  flex-basis: 285px;
}

.card__video-img {
  width: 100%;
  height: 146px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.card__image {
  flex-basis: 255px;
}

.card__photo-img {
  width: 100%;
  height: 206px;
  object-fit: cover;
  object-position: center;
}

.card_merch {
  flex-basis: 285px;
}

.product__img {
  width: 100%;
  height: 176px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.product__title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.product__wrapper-buy {
  display: flex;
  justify-content: space-between;
}

.product__button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  color: #fff;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border-radius: 50%;
  transition:   color .2s ease-in-out,
    background-color .3s ease-in-out,
    border-color .3s ease-in-out;
  outline: none;
}

.product__button-buy:hover {
  background-color: rgba(255, 255, 255, 0.19);
}

.product__button-buy:active {
  color: #B3B3B3;
  background-color: rgba(255, 255, 255, 0.19);
}

.product__button-buy:focus {
  border-color: #9b9b9b;
  background-color: rgba(255, 255, 255, 0.19);
}

.product__button-icon {
  width: 24px;
  height: 24px;
}