.tabs__button {
  background-color: transparent;
  border: 0;
  color: inherit;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}