.card__photo-img {
  width: 100%;
  height: 206px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1000px) {
  .card__photo-img {
    height: 180px;
  }
}

@media (max-width: 850px) {
  .card__photo-img {
    height: 270px;
  }
}

@media (max-width: 750px) {
  .card__photo-img {
    height: calc((100vw - 78px)/ 5 * 4);
  }
}

@media (max-width: 480px) {
  .card__photo-img {
    height: calc((100vw - 30px)/ 5 * 4);
  }
}