.burger {
  --width: 22px;
  --height: 12px;
  --color: #fff;
  --size-line: 2px;
  position: relative;
  width: var(--width);
  height: var(--height);
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.burger:before, .burger:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: var(--size-line);
  background-color: var(--color);
  transition: transform .3s, top .3s;
}

.burger:before {
  top: 0;
}

.burger:after {
  top: calc(100% - var(--size-line));
}