@media (max-width: 850px) {
    .card {
        flex-basis: 320px;
    }
}

@media (max-width: 750px) {
    .card {
        flex-basis: 100%;
    }
}

@media (max-width: 480px) {
    .card {
        flex-basis: 100%;
    }
}